@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #252525;
  /* background-color: #284057; */
}
#intro {
    background-color:rgba(40, 64, 87, 0.325);
    padding: 20px;
    margin-top: 20px;
    align-items: center;
    
}
div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 2rem;
}
div.container div.card {
  background: #fff;
  color:  #2C4D32;;
  height: 100%;
  width: 80%;
  filter: drop-shadow(0 1px 5px rgba(37,37,37,0.3));
  animation: slideIn 0.3s 0.3s ease-out both;
  display: flex;
  z-index: 1;
  flex-direction: column;
  border-radius: 5px;
}
div.container div.card h2,
div.container div.card div.card__option {
  flex-grow: 1;
  padding: 2rem;
}
div.container div.card h2 {
  font-weight: 300;
}
div.container div.card div.card__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.3s ease;
}
div.container div.card div.card__option span.card__option--toggle {
  font-size: 2rem;
  font-weight: bold;
}
div.container div.card div.card__option div.card__option--description dl dt {
  font-weight: bold;
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin: 0.2rem 0;
}
div.container div.card div.card__option div.card__option--description dl dd {
  font-size: 1.1rem;
  opacity: 0;
  visibility: hidden;
  height: 0;
}
div.container div.card div.card__option div.card__option--description dl dd.active {
  opacity: 1;
  visibility: visible;
  height: 100%;
  transition: visibility 0.3s ease, opacity 0.3s 0.2s ease;
}
@-moz-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-o-keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}