/* Estilo para el enlace de Registro */
a[data-translate="menu-inicarSecion"] {
    background-color:#5F7C5D; /* Color de fondo */
    color: #fff; /* Color de texto */
    text-decoration: none; /* Quita la subrayado del enlace */
    padding: 10px 20px; /* Espaciado interno (ajusta según tus preferencias) */
    border-radius: 5px; /* Borde redondeado */
    border: 10px;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave al pasar el cursor */
}

/* Cambia el color de fondo y el texto al pasar el cursor */
a[data-translate="menu-inicarSecion"]:hover {
    background-color:#2C4D32;
    color: #fff;
}

button:hover {
    background-color: #2C4D32;
  }
  
