/* ------------------> waves + body <-------------------*/
*
{
    margin: 0;
    padding: 0;
    text-align: center;
}

article{
    position: relative;
   
    /*Modificar ala paleta de colores de cuerpo*/
    background: white;
    /*Modificar ala paleta de colores de cuerpo*/
    /* overflow: hidden; */
    padding-bottom: 150px;
}

article .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* background: url(../Img/wabe_footer3.png); */
    background: url(../Img/wabe_footer2.png);
    background-size: 1000px 100px;
    z-index: 7;
    color:#D1B4A3;
}

article .wave, .wave1 {
    animation: animate 30s linear infinite;
    z-index: 4;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

article .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 1;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
article .wave3 {
    animation: animate 30s linear infinite;
    z-index: 2;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
article .wave4 {
    animation: animate2 5s linear infinite;
    z-index: 3;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate {
    0% {
        background-position-x: 0;   
    }
    100% {
        background-position-x: 1000px;   
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;   
    }
    100% {
        background-position-x: -1000px;   
    }
}
/* ------------------> FIN waves + body <-------------------*/


/* ------------------> FOTER <-------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
/* 
#header {
    
    background-color: #F1EFEF;
    color: #949393;
   
    text-align: center;
    padding: 20px;
} */
.encabezado{
    text-align: center;
}

body{
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
}


footer{
    position: relative;
    width: 100%;
    /*Modificar la paleta de colores de cuerpo*/
    /* background: #D1B4A3; */
    background: #5F7C5D;
    /*Modificar la paleta de colores de cuerpo*/
    min-height: 150px; 
    padding: 40px; 
    /* margin-top: 20px;  */
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer .social_icon, 
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0; */
    flex-wrap: wrap;
}
footer .social_icon li ,
footer .menu {
    list-style: none;
}
footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em; 
}
/* ------------------> FIN FOTER <-------------------*/



/* Estilos para el logo */
.logo {
    max-width: 100px; /* Ajusta el tamaño */
    height: auto;
    margin: 10px; /* Ajusta el margen  */
    float: left;

}

/* Estilos para el menú superior */
/* #menu {
   
    background-color: #455055;
    color: #fff;
   
    padding: 10px 0;
    text-align: center;
} */

/* .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.topnav li {
    display: inline;
    margin: 0 10px;
}

.topnav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s; 
}

.topnav a:hover {
    color:#5F7C5D; }

.topnav a.active {
    font-weight: bold;
} */

